<div class="hero-unit">
  <h1>Start talking...</h1>
  <p>Create the conversation</p>
  <p>
    <%= link_to t(:create_cta,:scope => :chatroom), :new_chatroom, :class=> "btn btn-primary" %>
  </p>
</div>
<h2>Open and ready:</h2>
<%= render "chatrooms/list" %>

