<%= form_for chatroom do |f| -%>
  <%= f.hidden_field :account_id, value: @current_user.account.id %>
  <div class="control-group">
    <div class="control-label"><%= f.label :name %></div>
    <div class="controls"><%= f.text_field :name, :class => "input-block-level" %></div>
  </div>
  <div class="row">
    <div class="span6">
      <%= f.label :celebrities do %>
        Celebrities
        <%= select_tag :celebrities, options_from_collection_for_select(@current_user.account.members, "id", "name", @chatroom.celebrities.map!{|c| c.user.id}), :multiple => true, :class=>"input-block-level" %>
      <% end %>
    </div>
    <div class="span6">
      <%= f.label :moderators do %>
        Moderators
        <%= select_tag :moderators, options_from_collection_for_select(@current_user.account.members, "id", "name", @chatroom.moderators.map!{|m| m.user.id}), :multiple => true, :class=>"input-block-level" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= f.label :moderation, :class => "checkbox" do %>
        <%= f.check_box :moderation %> Require message moderation first?
      <% end %>
      <%= f.label :hide_replies, :class => "checkbox" do %>
        <%= f.check_box :hide_replies %> Hide replies from visitors?
      <% end %>
      <%= f.label :status, "Status"%>
      <%= f.select :status, Chatroom.statuses%>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Update/Create", :class=> 'btn btn-success' %>
  </div>
<% end -%>