<div id="chatroom_list" class="row">
  <% if !@chatrooms.blank? %>
  <% for chatroom in @chatrooms %>
  <div class="open_chatroom well span4">
    <h3><%=chatroom.name%></h3>
    <p><strong>Total Users:</strong> <%=chatroom.users.count%></p>
    <ul class="nav nav-pills">
      <% if chatroom.status == 'open' %>
      <li><%=link_to "View", chatroom_path(chatroom.slug) %></li>
      <% end %>
      <% if chatroom.owner == @current_user%>
      <li><%=link_to "Edit", edit_chatroom_path(chatroom) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% else %>
    <h3 class="notice no-chats"><%= t(:no_open_chats) %></h3>
  <% end %>
</div>