<% for post in posts %>
  <article id="message_<%= post.id %>" class="<%= post.profile.type.downcase %> well">
    <div>
      <div class="profile">
        <% if post.profile.thumbnail %>
          <img style="border:1px solid #666" src="<%=post.profile.thumbnail%>">
        <% end %>
        <span class="author"><%= post.profile.display_name %>: <%= post.created_at %></span>
      </div>
      <p><%= post.message %></p>
    </div>
    <div class="reply_form">
      <a href="#" class="reply btn btn-link">Reply:</a>
      <%= render 'posts/form', :parent => post%>
    </div>
    <% if @current_profile &&  @current_profile.type.downcase == "moderator" %>
    <%= render 'moderator_controls', post_id: post.id, chatroom: @chatroom %>
    <% end %>

    <% if @show_replies && post.has_replies? %>
      <%= render 'chatrooms/messages',  :posts => post.replies %>
    <% end %>
  </article>
<% end %>


<script type="text/html" charset="utf-8" id="new_message_template">
  <article id="message_{{post.id}}" class="{{type}} well">
    <div>
      <div class="profile">
        {{#profile.image.thumb.url}}
          <img style="border:1px solid #666" src="{{profile.image.thumb.url}}">
        {{/profile.image.thumb.url}}
        <span class="author">{{profile.display_name}}:</span>
      </div>
      <p>{{post.message}}</p>
    </div>
    <div class="reply_form">
      <a href="#" class="reply btn btn-link">Reply:</a>
      <%= render 'posts/form', :parent => "{{post.id}}" %>
    </div>
    <% if @current_profile &&  @current_profile.type.downcase == "moderator" %>
      <%= render 'moderator_controls', post_id: "{{post.id}}", chatroom: "{{profile.chatroom_id}}" %>
    <% end %>
  </article>
</script>

<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
