<section class="moderator_controls">
<ul class="nav nav-pills clearfix">
  <li><%= link_to "Reject", "/post/reject/#{post_id}", method: :put, :remote => true %></li>
  <% if !@chatroom.celebrities.blank? %>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assign to celebrity: <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% for celebrity in @chatroom.celebrities %>
        <% unless celebrity.questions.collect{|q|q.id}.include? post_id %>
        <li>
          <%= link_to "/post/#{post_id}/#{celebrity.id}", method: :put do%>
          <%= image_tag(celebrity.thumbnail, :alt => celebrity.display_name, :class => "like", :height => 50) %>
            <span><%= celebrity.display_name %></span>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>
</section>
