<section id="chatroom_profile" class="span4 pull-right">
<% if @current_profile %>
<h4><%= @current_profile.display_name %> is a <%= @current_profile.type.downcase %></h4>
  <%= form_for @current_profile, :as => :profile, :url => profile_path(@current_profile) do |f| -%>
    <div class="control-group"><%= f.text_field :display_name %></div>
    <div class="control-group">
      <img src="<%= @current_profile.thumbnail %>" class="img-polaroid" /> <%= f.file_field :image %>
    </div>
    <%= f.submit "Update Profile", :class => "btn btn-primary" %>
  <% end -%>
<% else %>
    <%= link_to "Join Chat", join_chatroom_path(@chatroom) %>
<% end %>
</section>
