<div class="hero-unit">
  <h1>Start talking...</h1>
  <p>Create the conversation</p>
  <p>
    <%= link_to t(:create_cta,:scope => :chatroom), :new_chatroom, :class=> "btn btn-primary" %>
  </p>
</div>

<ul class="nav nav-pills">
  <% if !Chatroom.statuses.blank? %>
  <% for status in Chatroom.statuses %>
      <li <% if status == @filter %>class="active"<% end %>>
        <%= link_to status.upcase, chatroom_filter_path(status) %>
      </li>
    <% end %>
  <% else %>
  <% end %>
</ul>
<%= render "chatrooms/list" %>

