<h1 id="chatroom_welcome"><%= t(:welcome,:scope => :chatroom, :chatroom_name => @chatroom.name) %></h1>

<div id="chatroom"
  data-message-reject-channel="<%= @reject_channel %>"
  data-push-channel="<%= @push_channel %>"
  data-chatroom="<%= @chatroom.id %>"
  <% if @answered_channel %> data-answered-channel="<%= @answered_channel %>"<% end %>
  class="<% unless @in_chat %> not_able_to_chat<% end %>"
>
  <header></header>
  <section id="chat"
  <% if @in_chat %>
  class="<%= @current_profile.type.downcase %>"
  <% end %>
  >
    <%= render 'messages', :posts => @posts %>
  </section>
  <footer></footer>
</div>

<% if @chatroom.open? %>
  <div id="message_post_form">
    <div class="row">
      <% if @in_chat %>
      <div class="span8">
        <h3>Post a question:</h3>
        <%= render 'posts/form', :parent => nil%>
      </div>
      <%= render 'profile_form' %>
    <% elsif !@current_user %>
    <div class="span4">
      <h3>Login with us:</h3>
      <%= form_tag "/auth/identity/callback" do %>
        <div class="field">
          <%= label_tag :nickname %>
          <%= text_field_tag :nickname,"", :class => " input-block-level" %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password,"", :class => " input-block-level" %>
        </div>
        <div class="actions"><%= submit_tag "Login", :class=> "btn btn-success" %></div>
      <% end %>
    </div>
    <div class="span4">
      <h3>Login with them:</h3>
      <ul class="nav nav-pills nav-stacked"><%= render "shared/login_menu" %></ul>
    </div>

    <div class="span4">
      <h3>Create and account:</h3>
      <%= render 'session/reg_form', :account => nil %>
    </div>
    <% else %>
      <div class="span12"><%= link_to "Join Chat", join_chatroom_path(@chatroom) %></div>
    <% end %>
    </div>
  </div>
<% else %>
<% end %>
