<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if account %>
  <%= hidden_field_tag(:account_id,account.id) %>
  <% end %>

  <div class="control-group">
    <div class="control-label"><%= label_tag :nickname %></div>
    <div class="controls"><%= text_field_tag :nickname, @identity.try(:nickname), :class => " input-block-level"  %></div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= label_tag :password %></div>
    <div class="controls"><%= password_field_tag :password, "",:class => " input-block-level"  %></div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= label_tag :password_confirmation %></div>
    <div class="controls"><%= password_field_tag :password_confirmation, "", :class => " input-block-level"  %></div>
  </div>

  <div class="controls"><%= submit_tag "Register", :class=>"btn btn-success" %></div>
<% end %>