<div class="hero-unit">
  <h1>Not registered?</h1>
  <p>Register to join participate in the chats.</p>
  <p>
    <%= link_to "Get on it", :register, :class=> "btn btn-primary" %>
  </p>
</div>

<div class="row">
  <div class="span4">
    <h3>Login with us:</h3>
    <%= form_tag "/auth/identity/callback" do %>
      <div class="field">
        <%= label_tag :nickname %>
        <%= text_field_tag :nickname,"", :class => " input-block-level" %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password,"", :class => " input-block-level" %>
      </div>
      <div class="actions"><%= submit_tag "Login", :class=> "btn btn-success" %></div>
    <% end %>
    <%= link_to "Register", :register %>
  </div>
  <div class="span3 well">
    <h3>Login with them:</h3>
    <ul class="nav nav-pills nav-stacked"><%= render "shared/login_menu" %></ul>
  </div>
  <div class="span4">
    <h3>Create and account:</h3>
    <%= render 'reg_form', :account => nil %>
  </div>￿
</div>