<div class="hero-unit">
  <h1>Almost there</h1>
  <p>Just fill out this form, or sign in with a social account.</p>
</div>


<div class="row">
  <div class="span4">
    <h3>Register with us:</h3>
    <%= render 'reg_form', :account => nil %>
  </div>

  <div class="span3 well">
    <h3>Register with them:</h3>
    <ul class="nav nav-pills nav-stacked"><%= render "shared/login_menu" %></ul>
  </div>
</div>

<p>Already have an account? <%= link_to "Login", :login %></p>

