<%= form_for @user, :url => :user do |f| %>
<%= hidden_field_tag :id, @user.slug %>
  <div class="control-group">
    <div class="control-label"><%= f.label :username %></div>
    <div class="controls"><%= f.text_field :username, :class => " input-block-level" %></div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= f.label :slug %></div>

    <div class="controls"><%= f.text_field :slug, :readonly => true, :class=>" input-block-level"  %></div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= f.label :email %></div>
    <div class="controls"><%= f.text_field :email, :class=>" input-block-level" %></div>
  </div>
  <div class="controls"><%= f.submit "Save", :class => 'btn btn-success' %></div>
<% end %>
