<%= form_for @user, :url => :user do |f| %>
  <%= f.label :username %>:
  <%= f.text_field :username %><br />

  <%= f.label :email %>:
  <%= f.text_field :email%><br />

  <%= f.hidden_field :attribute, value:"ted"  %>

  <%= f.submit %>
<% end %>
