<% if @user.account and @user.account.chatrooms %>
<div class="row">
  <div class="span12">
    <h3>Your Chats</h3>
    <ul class="nav nav-pills">
      <li><%= link_to t(:create_cta,:scope => :chatroom), :new_chatroom, :class=> "btn btn-link" %></li>
    </ul>
  </div>
</div>
<div id="chatroom_list" class="row">
<% @user.account.chatrooms.each_with_index do |chatroom,index| %>
  <div class="user_chatroom well span4">
    <h3><strong>Name:</strong> <%=chatroom.name%></h3>
    <p><strong>Slug:</strong> <%=chatroom.slug%></p>
    <p><strong>Status:</strong> <%=chatroom.status%></p>
    <p><strong>Moderation:</strong> <%=chatroom.moderation%></p>
    <p><strong>Total Users:</strong> <%=chatroom.users.count%></p>
    <ul class="nav nav-pills">
      <li>
        <%=link_to "View", chatroom_path(chatroom.slug) %>
      </li>
      <li>
        <%= link_to "Edit", edit_chatroom_path(chatroom) %>
      </li>
      <li>
        <%= link_to "Delete", chatroom_path(chatroom), :method => :delete, :data => {:confirm => "Are you sure?"} %>
      </li>
    </ul>
  </div>
<% end %>
</div>

<% end %>
