<%= form_for @user.account || Account.new do |f| -%>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <div class="control-group">
    <div class="control-label"><%= f.label :name %></div>
    <div class="controls"><%= f.text_field :name, :class => " input-block-level" %></div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= f.label :slug %></div>
    <div class="controls"><%= f.text_field :slug, :readonly => true, :class => " input-block-level"  %></div>
  </div>
  <div class="controls"><%= f.submit "Add / Update Account", :class => "btn btn-success" %></div>
<% end -%>