<% if @user.email %>
  <img src="http://www.gravatar.com/avatar/<%=Digest::MD5.hexdigest(@user.email.downcase)%>?size=100&d=mm">
<%end%>

<div class="row">
  <div class="span8">
    <h3><%= @user.username %></h3>
    <%= render 'form' %>
  </div>
  <div class="span4 pull-right">
    <h3>Account Settings</h3>
    <%= render 'user_account_form' %>
  </div>
</div>
<%= render 'user_chatroom_list' %>
<% if @user.account %>
<div class="row">
  <div class="span4">
    <h3>Account Members</h3>
    <% if !@user.account.members.blank? %>
      <table class="table table-striped table-bordered">
        <tbody>
        <% for user in @user.account.members %>
          <tr>
            <td><%=user.username%></td>
            <td class="actions">
              <%= link_to "", remove_member_path(@user.account,user), :class=>"icon-remove", :data => {confirm: "Are you sure?"}, :title => "Remove from account", :rel => "tooltip", :method => :delete %>
            </td>
          </tr>
      <% end %>
      </tbody></table>
    <% else %>
      <p>No account members</p>
    <% end %>
  </div>
  <div class="span8">
    <h3>Register a Member</h3>
    <%= render('session/reg_form', :account => @user.account)%>
  </div>
</div>
<% end %>