<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>


<p>Username: <%= @user.username %></p>
<p>slug: <%= @user.slug %></p>
<p>Email: <%= @user.email %></p>

<% if @user === @current_user %>
<%= link_to "Edit User", edit_user_path(@current_user) %>
<% end %>