# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/

$ ->
  initialize()

initialize = ->
  $('a[rel*="tooltip"]').tooltip()
  $(document).on('ajax:before','form.new_post[data-remote]', remote_action_before_send)
  $(document).on('ajax:success','form.new_post[data-remote]', remote_action_success)
  $(document).on('ajax:complete','form.new_post[data-remote]', remote_action_complete)

  $("#message_post_form textarea").focus()
  initializeMessagePostForm()
  initReplyForms()

  @channel_controller = new NotificationChannelManager
    subscribe_key: "<%= APP_CONFIG['pubnub_sub_key'] %>"
    onConnect: pubnubConnect
    onUpdate: pubnubMessageReceived

  if chatroom = $('#chatroom')
    slug = chatroom.data('chatroom')
    push_channel = chatroom.data('push-channel')
    message_reject_channel = chatroom.data('message-reject-channel')
    answered_channel = chatroom.data('answered-channel')

    reject = new NotificationManager(message_reject_channel,{
      onUpdate: postRejected
    })
    @channel_controller.addNotificationManager(reject)

    push= new NotificationManager(push_channel,{onUpdate: newMessagePosted, onConnect: ->
      console.log "Subscribed"
    })
    @channel_controller.addNotificationManager(push)

    if answered_channel
      answered= new NotificationManager(answered_channel,{onUpdate: postAnswered})
      @channel_controller.addNotificationManager(answered)

pubnubConnect = ->
  console.log "CONNECTED"

pubnubMessageReceived = ->
  console.log "MESSAGE RECEIVED", arguments

remote_action_success = (event,response,status,xhr)->
  console.log "REMOTE ACTION SUCCESS"
  form = $(event.currentTarget)
  form.children('textarea').val ""
  parent_id = form.children("input[name='post[parent_id]']")
  if parent_id.length > 0
    form.hide()

remote_action_complete = (event,xhr,status)->
  console.log "REMOTE ACTION Complete"
  form = $(event.currentTarget)
  form.children('textarea').val ""
  parent_id = form.children("input[name='post[parent_id]']")
  if parent_id.length > 0
    form.hide()

remote_action_before_send = (event)->
  console.log "REMOTE ACTION BEFORE SEND"
  form = $(event.currentTarget)
  parent_id = form.children("input[name='post[parent_id]']")
  if parent_id.length == 0
    advanceToBottom()
  checkMessageContent(event)

newMessagePosted = (data,channel) ->
  console.log "New Message Posted",arguments
  new_message = Mustache.render($('#new_message_template').html(),data)
  parent = $("#chat")
  if data.post.parent_id
    parent = $('#message_'+data.post.parent_id)
    parent.append(new_message)
  else
    parent.append(new_message)

postAnswered = (data,channel) ->
  removeMessageFromQueue(data.post.parent_id)

postRejected = (data,channel) ->
  removeMessageFromQueue(data.post.id)

removeMessageFromQueue = (message_id,channel) ->
  post = $('#message_'+message_id)
  post.remove()

initializeMessagePostForm = ->
  $(document).on('keypress',"form.new_post textarea",checkMessageKeyPress)

initShowReplies = ->
  $(document).on("click","article", showReplies)

initReplyForms = ->
  $(document).on("click","article div.reply_form .reply", showReplyForm)

showReplyForm = (e) ->
  if e
    e.stopPropagation()
    e.preventDefault()
  reply_form = $(@).next()
  reply_form .toggle()
  reply_form.children('textarea').val("")
  reply_form.children('textarea').focus()

showReplies = (e) ->
  e.stopPropagation()
  $(@).children('article').toggle()

checkMessageKeyPress = (e) ->
  if e.which is 13 and e.shiftKey is false and e.ctrlKey is false
    console.log e, e.which
    $(@).parent().submit()
  else if e.which is 64 and e.shiftKey is true
    console.log "@user"

checkMessageContent = (e) ->
  form = $(e.currentTarget)
  # true if form.children('textarea').val().trim().length >= 2
  valid = (form.children('textarea').val().trim().length >= 2) ? true : false

advanceToBottom = ->
  $("html, body").animate({ scrollTop: $(document).height() }, "slow")