<%= form_for Post.new, :remote=>true do |f| -%>
<%= f.text_area :message, :cols => nil, :rows => 4, :id=>nil, :class => "input-block-level" %>
  <%= f.hidden_field :chatroom_id, :value => @chatroom.id, :id => nil  %>
  <%= f.hidden_field :status, :value => 'open'  %>

  <% if parent %>
    <% if parent == "{{post.id}}" %>
      <%= f.hidden_field :parent_id, :value => parent, :id => nil %>
    <% else %>
      <%= f.hidden_field :parent_id, :value => parent.id, :id => nil %>
    <% end %>
  <% end %>
  <%= f.submit "Submit", :id =>nil,:class => "btn btn-primary" %>
<% end %>

