<article id="message_{{message.id}}" class="{{type}}">
  <div>
    <div class="profile">
      {{#profile.image.thumb}}
        <img style="border:1px solid #666" src="{{profile.image.thumb.url}}" />
      {{/profile.image.thumb}}
      <span class="author">{{profile.display_name}}:</span>
    </div>
  </div>
￿
  {{#in_chat}}
  <div class="reply_form">
    <h3>Reply:</h3>￿
    <form action="{{reply_url}}" method="post" accept-charset="utf-8">
      <p><input type="submit" value="Continue &rarr;"></p>
    </form>
  </div>
￿ {{/in_chat}}


￿
  {{message.message}}
</article>