// Place all the styles related to the Chatroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body{
   background:
   -webkit-linear-gradient(45deg, #747474 45px, transparent 45px)64px 64px,
   -webkit-linear-gradient(45deg, #747474 45px, transparent 45px,transparent 91px, #898989 91px, #999 135px, transparent 135px),
   -webkit-linear-gradient(-45deg,#747474 23px, transparent 23px, transparent 68px,#747474 68px,#747474 113px,transparent 113px,transparent 158px,#747474 158px);
   background-color:#898989;
   background-size: 128px 128px;
   background-attachment: fixed;
 }
#main .container{
  background: white;
  padding: 20px;
}
#chatroom{
  padding-bottom: 225px;
  &.not_able_to_chat{
    article {
      .reply_form{
        display: none;
      }
    }
  }
}

#chat.celebrity article:first-child form.new_post{
  display: block !important;
}

article{
  &.viewer{
  }
  &.moderator{
    background: rgba(75,75,75,.25);
  }
  &.celebrity{
    background: rgba(175,75,75,.25);
  }

  h3{
    cursor: pointer;
  }
  p {
  }
  article{
  }
  form {
    display: none;
    textarea.span12{
      width: 97%;
    }
  }
}

form {
  background-color: rgba(255,255,255,.25);
  textarea {
  }
}

#message_post_form{
  background: rgba(255,255,255, .90);
  /* border: 3px solid rgba(0,0,0,.75);*/
  position: fixed;
  bottom: 0;
  margin: 0;
  height: auto;
}
@media (max-width: 767px) {
  #chatroom{
    padding-bottom: 20px;
  }
  #message_post_form{
    position: static;
  }
}
