// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tweets{
  p{
    background: rgba(50,50,50,.5);
    padding: 20px;
  }
}