<%= link_to "Palavar Home", :root, :class => "brand"%>

<ul class="nav">
  <% if @current_user %>
    <li>
      <%= link_to('Logout', :logout) %>
    </li>
  <% else %>
    <li>
      <%= link_to('Login', :login)  %>
    </li>
  <% end %>
<li class="divider-vertical"></li>
  <% if @current_user %>
    <li>
      <%= link_to("Edit Account (#{@current_user.username})", edit_user_path(@current_user)) %>
    </li>
  <% else %>
    <li>
      <%= link_to('Sign up', :register)  %>
    </li>
  <% end %>
</ul>